@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Lid

<h1>Create</h1>
<h2>Lid</h2>
<hr>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lidnummer" class="control-label"></label>
                <input asp-for="Lidnummer" class="form-control" />
                <span asp-validation-for="Lidnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Geslacht" class="control-label"></label>
                 <select asp-for="Geslacht" class="form-control" asp-items="ViewBag.GeslachtOptions"></select>
                <span asp-validation-for="Geslacht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Niveau" class="control-label"></label>
                <select asp-for="Niveau" class="form-control" asp-items="ViewBag.NiveauOptions"></select>
                <span asp-validation-for="Niveau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubStamnummer" class="control-label"></label>
                <select asp-for="ClubStamnummer" class="form-control" asp-items="ViewBag.Club"></select>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>