@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>@(User.Identity.IsAuthenticated ? "U bent ingelogd." : "Gelieve u in te loggen.")</p>
</div>
